body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  z-index: 1000;
  position: absolute;
  display: flex;
  width: 120px;
  height: 100vh;
  top: 0;
  right: 0;
}

.parameters {
  list-style-type: none;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.parameters > li {
  margin-top: 10px;
}

#lightSwitch {
  padding: 4px;
  width: 88px;
  background: transparent;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
