body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  z-index: 1;
  position: absolute;
  display: flex;
  width: 120px;
  height: 100vh;
  top: 0;
  right: 0;
}

.parameters {
  list-style-type: none;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.parameters > li {
  margin-top: 10px;
}

.parameters > li > p {
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgb(41, 29, 150)
}

.loader.flex-content {
  width: 200px;
}

.loader svg {
  flex-wrap: wrap;
}

.loader p {
  flex-wrap: wrap;
  font-size: 3em;
  font-family: "Arial", sans-serif;
  text-align: center;
  color:rgb(255, 247, 233)
}

.button {
  padding: 4px;
  width: 88px;
  background: transparent;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
